version: 2.1

orbs:
  gcp-cli: circleci/gcp-cli@3.1.1

jobs:
  build:
    docker: &DOCKERIMAGE
      - image: cimg/openjdk:17.0.8
    working_directory: ~/client-side-events

    steps:
      - checkout
      - restore_cache:
          key: client-side-events-{{ checksum "pom.xml" }}
      - run: mvn dependency:go-offline
      - run: mvn clean package
      - save_cache:
          paths:
            - ~/.m2
          key: client-side-events-{{ checksum "pom.xml" }}

  deploy_stage:
    docker: *DOCKERIMAGE
    working_directory: ~/client-side-events
    steps:
      - gcp-cli/install:
          version: latest
      - checkout
      - restore_cache:
          key: client-side-events-{{ checksum "pom.xml" }}
      - run:
          name: Authenticate with GCloud
          command: |
            echo $ACCT_AUTH | base64 --decode --ignore-garbage > ${HOME}/gcloud-service-key.json
            gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            gcloud config set project $PROJECT_ID
      - run:
          name: Deploy
          command: |
            mvn clean package appengine:deploy -DskipTests -Dapp.deploy.version=stage -Dapp.deploy.projectId=client-side-events

  deploy_prod:
    docker: *DOCKERIMAGE
    working_directory: ~/client-side-events
    steps:
      - gcp-cli/install:
          version: latest
      - checkout
      - restore_cache:
          key: client-side-events-{{ checksum "pom.xml" }}
      - run:
          name: Authenticate with GCloud
          command: |
            echo $ACCT_AUTH | base64 --decode --ignore-garbage > ${HOME}/gcloud-service-key.json
            gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            gcloud config set project $PROJECT_ID
      - run:
          name: Deploy
          command: |
            mvn clean package appengine:deploy -DskipTests -Dapp.deploy.version=r$(echo -n $((CIRCLE_BUILD_NUM%10))) -Dapp.deploy.promote=true -Dapp.deploy.projectId=client-side-events

workflows:
  build_and_deploy:
    jobs:
      - build
      - deploy_stage:
          requires:
            - build
          filters:
            branches:
              ignore:
                - master
      - deploy_prod:
          requires:
            - build
          filters:
            branches:
              only:
                - master